@media (min-width: 768px) {
  

  .objective-container {
    margin: 56px auto 0 auto;
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: center;
  }

  .objective-container-heading{
  width: 65rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  
}
}


@media (min-width: 769px) and (max-width: 945px) {
   .objective-container-heading{
   max-width: 50rem;
  }
}
