.form {
  color: #fefefe;
  background-image: linear-gradient(90deg, #060b26, #00335e);
  margin: 2.5rem auto;
  position: relative;
  max-width: 400px;
  padding: 30px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  min-width: 320px;
  min-height: 338px;
  overflow: hidden;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.form__card--input {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px;
  position: relative;
}
.form__card p {
  font-size: 12px;
}

.form__card a {
  text-decoration: none;
  color: #fefefe;
}

.form__card--input input {
  background-color: rgba(254, 254, 254, 0.2);
  width: 100%;
  border: none;
  border-radius: 25px;
  padding-left: 60px;
  height: 45px;
  margin: 2px 0;
}

.form__card--input input::-webkit-input-placeholder {
  font-size: 16px;
  color: #01101d;
}

.form__card--icon {
  position: absolute;
  background: #fff;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #01101d;
  font-size: 1.8rem;
  left: 0;
}
.form__card--icon-left {
  position: absolute;
  background: #fff;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #01101d;
  font-size: 1.8rem;
  right: 0;
}
/* .form__card--span {
  background-color: #fefefe;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: relative;
} */

.icons__login {
  color: black;
  font-size: 1.8rem;
  left: 0;
  bottom: 0;
  border-radius: 0.5rem;
}
