.area-cardObjective{
  width: 85%;
  height: 100vh;
  margin: 1em auto;
}

.area-cardObjective-title{
  width: 100%;
  height: 5em;
  text-align: center;
  color: #87008B;
  margin-bottom: 3em;
  
}
.area-cardObjective-title h1{
  font-size: 3rem;
}
.area-cardObjective-title h2{
  font-size: 1.8rem;
  margin-top: -.5em;
}

.cardObjective{
  /* position: absolute; */
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 253, 253);
  margin-bottom: .5em;
  border-radius: .5em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
}

.objective-header{
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.objective-title{
  width: 50%;
  margin-left: 1em;
  /* background-color: #0099B7; */
  
}
.objective-title h2{
  font-size: 1.6rem;
}

.objective-date{
  margin-right: 1em;
}


.objective-body{
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.objective-area{
  display: flex;
  width: 20%;
  height: 100%;
  margin-left: 1em;
  align-items: center;
  
}

.objective-area h3{
  font-size: 1.5rem;
}

.changeView{
  width: 10em;
  height: 2em;
  background-color: #0099B7;
  border: .2em solid white;
  border-radius: .3em;
  font-weight: bold;
  color: white;
  cursor: pointer;

}




.objective-cardKr{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
