

.viewMore-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modalCk {
  background-color: rgb(223, 233, 236);
  border-radius: 0  0 .8em .8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid rgb(243, 243, 243);
 
}

.modal-title {
  width: 100%;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #006D99;
  /* border-radius: .8em .8em 0 0; */
  
}
.modal-title h2 {
  font-size: 2rem;

}

.modal-header-items{
  width: 100%;
  display: flex;
  color: white;
}
.chapterAdd{
  font-size: 2.5em;
  margin-left: 1em;
  cursor: pointer;
  color: #87008B;
}

.modal-rating{
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: flex-end;
  
  
}
.modal-rating h3{
  width: 4em;
  height: 2.5em;
  background-color: aliceblue;
  border-radius: 0 0 1em 1em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-rating .rating-high{
  background-color: #006D99;
}
.modal-rating .rating-medium{
  background-color:  #0099B7;
}
.modal-rating .rating-low{
  background-color:  #009FE3;
}

.modal-areaCardCk {
     display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 1.8rem;
}

.cardCk {
  width: 10em;
  height: 6em;
  background-color: #fff;
  border-radius: 1em;
  margin-left: 1.5em;
  color: #035869;
  margin-bottom: 1em;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 0px rgba(7, 7, 7,0.3);
  position:relative;
}
.cardCk-date,
.cardCk-status {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardCk-date {
  background-color: #0099B7;
  border-radius: 1em 1em 0 0;
  height: 3em;
}
.cardCk-status {
  margin-top: .5em;
  height: 1.5em;
}
.checkin-status{
position: absolute;
right:10px;
font-size:2rem;
color:rgb(52, 192, 94);
  
}
.cardCk-iconEdit {
  height: 1.5em;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* color: black; */
}
.icon-edit {
  cursor: pointer;
}

.modalFooter {
  width: 95%;
  height: 3em;
  display: flex;
  justify-content: space-around;
  color: rgb(4, 48, 87);
  font-size: 1rem;
}

.modalFooter spam {
  margin-left: 0.5em;
  
}
.modalFooter-owner,
.modalFooter-vlInitial, .modalFooter-vlGoal{
  width: 12em;
  height: 2em;
  background-color: aliceblue;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalFooter-owner{
  width: 15em;

}



.cardCK-date{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
  padding-left: 1rem;

}

.cardCK-date h3{
  margin:0;
  
}