html{
  width: 100%;
  min-height: 160%;
}
body {
  margin: 0;
 
  box-sizing: border-box;
  background-color: rgb(243, 243, 243) !important;
  font-family: "Sora", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Sora", sans-serif !important;
}
